<article>
  <section class="hero is-light is-medium is-fullheight-with-navbar">
    <div class="hero-content">

      <!-- Back link -->
      <div class="columns container is-centered mt-4">
        <div class="column is-8-desktop is-10-tablet">
          <a routerLink="/">
            <i class="fas fa-chevron-circle-left"></i> Back to dashboard
          </a>
        </div>
      </div>
      
      <!-- Client Card -->
      <div class="columns container is-centered">
        <div class="card column is-8-desktop is-10-tablet">
          <div class="card-content pt-0">

            <!-- Control panel -->
            <div class="columns is-mobile">
              <span class="column">
                <a href="#" class="has-text-info tooltip">
                  <i class="fas fa-user-edit is-size-5"></i>
                  <span class="tooltiptext">Edit</span>
                </a>
              </span>
              <span class="column has-text-right ">
                <a href="#" class="has-text-danger tooltip">
                  <i class="fas fa-user-minus  is-size-5"></i>
                  <span class="tooltiptext">Delete</span>
                </a>
              </span>           
            </div>

            <!-- Client Basic Info -->
            <div class="columns is-vcentered is-mobile on-x-mobile">
              <div class="column is-6">
                <h1 class="title">
                  Johne Doe
                </h1>
                <h2 class="subtitle">
                  <span class="tag is-link is-light is-medium is-rounded">324353623</span>
                </h2>
              </div>
              <div class="column is-6">
                <div class="control">
                  <div class="tags has-addons">
                      <div class="container has-text-right">
                        <span class="tag is-primary is-light is-large has-text-weight-semibold">
                          4353425
                        </span>
                        <span class="tag is-primary is-large">
                          <i class="fas fa-dollar-sign"></i>
                        </span>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Client Email and Phone -->
            <div class="panel has-text-weight-semibold mt-5">
              <div class="columns is-vcentered is-mobile panel-block mx-0 py-1 on-x-mobile">
                <div class="column ">
                  <i class="far fa-envelope-open has-text-centered mr-2"></i>
                  <span class="">Email</span>
                </div>
                <div class="column has-text-right">
                  <span class="has-text-grey-light">
                    gsfgdhs@gmail.com
                  </span>
                </div>
              </div>
              <div class="columns is-vcentered is-mobile panel-block mx-0 py-1 on-x-mobile">
                <div class="column">
                  <i class="fas fa-mobile-alt has-text-centered mr-2"></i>
                  <span class="">Phone</span>
                </div>
                <div class="column has-text-right">
                  <span class="has-text-grey-light">
                    0345234765
                  </span>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>
      
    </div>
  </section>
</article>