<article class="mb-6">

  <div *ngIf="client !== null ;else noClient" class="columns">
    
    <!-- Edit client Form -->
    <section class="column is-7 is-offset-1 mt-4">
      <div class="card ">
        <div class="card-content">
          <div class="content">
            <form #editClientForm=ngForm (ngSubmit)="onSubmit(editClientForm)">
              <!-- First Name -->
              <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                  <input #fNameInput=ngModel class="input" type="text" 
                    name="fName" placeholder="e.g. John"
                    [(ngModel)]="client.fName"
                    required minlength="2"
                    [class.is-danger]="fNameInput.errors && fNameInput.touched">
                </div>
                <span class="help is-danger" *ngIf="fNameInput.errors?.required && fNameInput.touched">
                  First name field is required
                </span>
                <span class="help is-danger" *ngIf="fNameInput.errors?.minlength && fNameInput.touched">
                  Must be at least 2 characters
                </span>
              </div>
              <!-- Last Name -->
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input #lNameInput=ngModel class="input" type="text"
                    name="lName" placeholder="e.g. Doe"
                    [(ngModel)]="client.lName"
                    required minlength="2"
                    [class.is-danger]="lNameInput.errors && lNameInput.touched">
                </div>
                <span class="help is-danger" *ngIf="lNameInput.errors?.required && lNameInput.touched">
                  Last name field is required
                </span>
                <span class="help is-danger" *ngIf="lNameInput.errors?.minlength && lNameInput.touched">
                  Must be at least 2 characters
                </span>
              </div>
              <!-- Email -->
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input #emailInput=ngModel class="input" type="text"
                    name="email" placeholder="e.g. john.doe@email.com"
                    [(ngModel)]="client.email" required
                    [class.is-danger]="emailInput.errors && emailInput.touched"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                </div>
                <span class="help is-danger" *ngIf="emailInput.errors?.required && emailInput.touched">
                  Email field is required
                </span>
                <span class="help is-danger" *ngIf="emailInput.errors?.pattern && emailInput.touched">
                  Invalid email
                </span>
              </div>
              <!-- Phone -->
              <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                  <input #phoneInput=ngModel class="input" type="text"
                    name="phone" placeholder="e.g. xxxxxxxxxx"
                    [(ngModel)]="client.phone"
                    required pattern="[0-9]{10}"
                    [class.is-danger]="phoneInput.errors && phoneInput.touched">
                </div>
                <span class="help is-danger" *ngIf="phoneInput.errors?.required && phoneInput.touched">
                  Phone field is required
                </span>
                <span class="help is-danger" *ngIf="phoneInput.errors?.pattern && phoneInput.touched">
                  Phone number must contain 10 characters
                </span>
              </div>
              <!-- Balance -->
              <div class="field">
                <label class="label">Balance</label>
                <div class="control">
                  <input #balanceInput=ngModel class="input" type="number" 
                    name="balance" placeholder="e.g. 5000"
                    [(ngModel)]="client.balance" required pattern="[0-9]+"
                    [class.is-danger]="balanceInput.errors && balanceInput.touched"
                    [disabled]="isEditBalanceDisabled">
                </div>
                <span class="help is-danger" *ngIf="balanceInput.errors?.required && balanceInput.touched">
                  Balance field is required
                </span>
                <span class="help is-danger" *ngIf="balanceInput.errors?.pattern && balanceInput.touched">
                  Invalid number
                </span>
              </div>
  
              <div class="card-item mt-3 ">
                <button type="submit" class="button is-dark px-6"
                  [class.is-loading]="client.id === null">
                  Submit
                </button>
              </div>
              
            </form>
          </div>
          
        </div>
      </div>
    </section>
  
    <!-- Title and subtitle -->
    <section class="column is-4 hero-blob has-text-right ">
      <div class="pt-6 px-5">
        <h1 class="title has-text-white">
          Edit Client
        </h1>
        <h1 class="subtitle has-text-white">
          Please Fill the form
        </h1>
      </div>
    </section>

  </div>

  <ng-template #noClient >
    <div class="hero is-fullheight has-text-centered container">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="is-size-3 has-text-weight-semibold">
            <span class="no-client-title">No client found!</span>
          </h1>
          <img src="assets/images/no_client_illust.png" class="is-pulled-right mt-6" alt="no client" width="40%">
        </div>
      </div>
    </div>
  </ng-template>
  
</article>