article {
  section {
    background-image: url('../../../assets/images/bg_login_gd.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}

@media (max-width: 769px) {
  article section {
    background-size: cover;
  }
}