<section class="hero is-link is-bold">
  <div class="hero-body pb-1">
    <div class="container">

      <!-- Title and Subtitle -->
      <div>
        <h1 class="title">
          Clients
        </h1>
        <h2 class="subtitle">
          All availble clients
        </h2>
      </div>

      <!-- Total and Add button -->
      <div class="columns is-vcentered my-0 mx-0 py-0">
        <div class="column pl-0">
          <div class="block">
            <div class="control">
              <div class="tags has-addons has-text-weight-semibold">
                <span class="tag is-dark is-medium">Total owed</span>
                <span class="tag is-success is-medium">{{totalBalanceOwed | currency:'':'USD '}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column has-text-right">
          <button class="button is-primary is-normal" routerLink="/client/add">
            <span class="icon"> <i class="fas fa-plus"></i> </span>
            <span> <strong>Add Client</strong> </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>

