@media (max-width: 500px) {
  .on-x-mobile {
    flex-direction: column;

    .has-text-right {text-align: center !important; padding-top: 0;}

    .column { 
      width: 100%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    };
    
    .button {
      width: 100%;
      &.is-normal {
        font-size: 0.75rem;
      }
    }

    .tag {font-size: 0.75rem;}
    
  }
  
}