/* Bulma Custumization ----------- */
$primary: #fb8500;
$link: #219ebc;
$info: #8ecae6;
$warning: #ffb703;
$dark: #023047;

/* Bulma imports ----------------- */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/other.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";


/* Font Awesome import ----------- */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";


/* Custom Styles ----------------- */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: hsl(0, 0%, 48%);
  color: #fff;
  font-size: small;
  text-align: center;
  padding: 2px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;


  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(0, 0%, 48%) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ------ PlaceHolders ------*/
.ph-content {
  overflow: hidden;
  background: #000;
  
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: hsl(0, 0%, 86%);
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; 
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}

.ph-title {
  height: 40px;
  width: 70%;
}
.ph-subtitle {
  height: 30px;
  width: 50%;
}
.ph-subtitle-2 {
  height: 35px;
  width: 50%;
  margin-left: 50%;
}
.ph-subtitle-s {
  display: inline-block;
  height: 20px;
  width: 50%;
}